<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ejemplo de Envío de Datos V-POS2 - Integración Payme</title>
    <script type="text/javascript" src="https://integracion.alignetsac.com/VPOS2/js/modalcomercio.js"></script>
    <style>
        .yellow {
            background-color: yellow;
        }
    </style>
</head>

<body>
    <!--Envío de parametros a V-POS2-->
    <form name="f1" id="f1" action="#" method="post" class="alignet-form-vpos2">
        <table>
            <tr>
                <td>acquirerId</td>
                <td>
                    <input class="yellow" type="text" name="acquirerId" value="{{context.acquirer_id}}" />
                </td>
            </tr>
            <tr>
                <td>idCommerce</td>
                <td>
                    <input class="yellow" type="text" name="idCommerce" value="{{context.id_commerce}}" />
                </td>
            </tr>
            <tr>
                <td>purchaseOperationNumber </td>
                <td>
                    <input class="yellow" type="text" name="purchaseOperationNumber" value="{{context.purchase_operation}}" />
                </td>
            </tr>
            <tr>
                <td>purchaseAmount </td>
                <td>
                    <input class="yellow" type="text" name="purchaseAmount" value="{{context.ammount}}" />
                </td>
            </tr>
            <tr>
                <td>purchaseCurrencyCode </td>
                <td>
                    <input class="yellow" type="text" name="purchaseCurrencyCode" value="{{context.currency_code}}" />
                </td>
            </tr>
            <tr>
                <td>language </td>
                <td>
                    <input type="text" name="language" value="SP" />
                </td>
            </tr>
            <tr>
                <td>shippingFirstName </td>
                <td>
                    <input type="text" name="shippingFirstName" value="Juan" />
                </td>
            </tr>
            <tr>
                <td>shippingLastName </td>
                <td>
                    <input type="text" name="shippingLastName" value="Perez" />
                </td>
            </tr>
            <tr>
                <td>shippingEmail </td>
                <td>
                    <input type="text" name="shippingEmail" value="modalprueba1@test.com" />
                </td>
            </tr>
            <tr>
                <td>shippingAddress </td>
                <td>
                    <input type="text" name="shippingAddress" value="Direccion ABC" />
                </td>
            </tr>
            <tr>
                <td>shippingZIP </td>
                <td>
                    <input type="text" name="shippingZIP" value="ZIP 123" />
                </td>
            </tr>
            <tr>
                <td>shippingCity </td>
                <td>
                    <input type="text" name="shippingCity" value="CITY ABC" />
                </td>
            </tr>
            <tr>
                <td>shippingState </td>
                <td>
                    <input type="text" name="shippingState" value="STATE ABC" />
                </td>
            </tr>
            <tr>
                <td>shippingCountry </td>
                <td>
                    <input type="text" name="shippingCountry" value="PE" />
                </td>
            </tr>
            <!--Parametro para la Integracion con Pay-me. Contiene el valor del parametro codCardHolderCommerce.-->
            <tr>
                <td>userCommerce </td>
                <td>
                    <input type="text" name="userCommerce" value="modalprueba1" />
                </td>
            </tr>
            <!-- 0101010101 -->
            <!--Parametro para la Integracion con Pay-me. Contiene el valor del parametro codAsoCardHolderWallet.-->
            <tr>
                <td>userCodePayme </td>
                <td>
                    <input type="text" name="userCodePayme" value="8--580--4390" />
                </td>
            </tr>
            <!-- 5--420--2340 -->
            <tr>
                <td>descriptionProducts </td>
                <td>
                    <input type="text" name="descriptionProducts" value="Producto ABC" />
                </td>
            </tr>
            <tr>
                <td>programmingLanguage </td>
                <td>
                    <input type="text" name="programmingLanguage" value="Python" />
                </td>
            </tr>
            <!--Ejemplo envío campos reservados en parametro reserved1.-->
            <tr>
                <td>reserved1 </td>
                <td>
                    <input type="text" name="reserved1" value="Valor Reservado ABC" />
                </td>
            </tr>
            <tr>
                <td>purchaseVerification </td>
                <td>
                    <input class="yellow" type="text" name="purchaseVerification" value="{{context.verification}}" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" onclick="javascript:AlignetVPOS2.openModal('https://integracion.alignetsac.com/')" value="Comprar">
                </td>
            </tr>
        </table>
    </form>
</body>

</html>